<div class="row main-back">
  <div class="col-xs-12 text-center bottom-set">
    <h2>パスワード再設定フォーム</h2>
    <%= form_for(@user, url: passwords_path) do |f| %>
      <div class="field botton-b">
        <%= f.label :password, "パスワード(6文字以上)" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上入力して下さい)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", size: "50", class: "text-pas" %>
      </div>

      <div class="field botton-b">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "50", class: "text-pas" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: "btn btn-danger botton-d" %>
      </div>
    <% end %>
  </div>
</div>