<!-- User詳細ページ -->
<div class="row">
  <div class="col-xs-12 text-center">
    <% if @user.status == "美容師" %>
      <h2 class="main-tex"><strong>Stylist Page</strong></h2>
    <% elsif @user == current_user %>
	    <h2 class="main-tex"><strong>My Page</strong></h2>
    <% else %>
      <h2 class="main-tex"><strong>User Page</strong></h2>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 text-center">
    <%= attachment_image_tag @user, :profile_image, :fill, 250, 300, fallback: "no_image.jpg", class: "profile-image" %>
  </div>
  <div class="col-xs-6">
    <label class="col-sm-10 text-user my-top-main"><%= @user.nickname %> | <%=@user.status %></label>
    <label class="col-sm-10 my-top"><%= @user.body %></label>
<% if @user == current_user %>
    <label class="col-sm-10 my-top"><%= @user.name %> | <%= @user.kana_name %></label>
    <label class="col-sm-10 my-top"><%= @user.prefectures %></label>
    <label class="col-sm-10 my-top"><%= @user.email %></label>
<% end %>
  </div>
</div>
<% if @user == current_user %>
  <div class="row text-center">
    <%= link_to 'マイページ編集', edit_user_path, class: "botton-date btn btn-danger" %>
  </div>
<% end %>

<div class="col-xs-12">
<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="main-tex2"><strong>Salon</strong></h2>
  </div>
</div>
<div class="row salon-box">
  <div class="col-xs-12 text-center dis">
    <% @user_salons.each do |f| %>
      <div class="card it" style="width: 30rem;">
        <figure class="effect-scale">
         <%= attachment_image_tag f, :salon_image, :fill, 260, 220, format: 'jpeg', class: "card-img-top ima" %>
        </figure>
        <div class="card-body">
          <p class="card-text"><strong><%= f.salon_name %></strong></p>
          <p class="card-text"><strong><%= f.salon_address %></strong></p>
          <p class="card-text"><strong><%= f.salon_phone %></strong></p>
          <% if @user == current_user %>
            <%= link_to 'Salon編集', edit_salon_path(f.id), class: "botton-salon btn-sm btn-danger" %>
            <%= link_to "Salon削除",salon_path(f.id), class: "botton-salon btn-sm btn-danger", method: :delete,"data-confirm" => "本当に削除しますか?" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @user == current_user %>
  <div class="row text-center">
    <%= link_to 'Salon新規登録', new_salon_path, class: "botton-date btn btn-danger" %>
  </div>
<% end %>
</div>

<div class="col-xs-12">
<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="main-tex"><strong><%= @user.nickname %> HearStyles</strong></h2>
  </div>
</div>
  <div class="row">
    <div class="my-styles">
    <div class="col-xs-12">
    <% @user_styles.each do |f| %>
          <div class="box box-efect">
            <%= link_to style_path(f.id) do %>
              <%= attachment_image_tag f, :image, :fill, 200, 250, format: 'jpeg', class: "style-image" %>
            <% end %>
          </div>
    <% end %>
  </div>
</div>
</div>
  <div class="col-xs-12 text-center">
    <% if @user == current_user %>
      <div class="row text-center">
        <%= link_to 'Style新規登録', new_style_path, class: "botton-date bottom-box d btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>