<!-- スタイル一覧画面 -->
<div class="row">
  <div class="col-xs-2 index-status">

  	  <div class="col-xs-12 text-center index-top">
  	  	 <%= link_to styles_path(status: "MENS") do %>
  	       <img class="image-box-index">
  	     <% end %>
  	     <%= link_to styles_path(status: "LADIES") do %>
  	       <img class="image-box-index2">
  	     <% end %>
      </div>

      <div class="col-xs-12 text-center">
        <div class="panel panel-color">
          <div class="panel-im">
            <h4><strong>Jenres</strong></h4>
          </div>
          <div class="panel-body">
            <% @jenres.each do |jenre| %>
              <strong><%= link_to jenre.name, styles_path(jenre_id: jenre.id), class: "jenre-text" %></strong><br>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 text-center">
      	<% @tags.each do |tag| %>
      	  <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "label label-default" %>
      	<% end %>
      </div>
  </div>

  <!-- スタイル一覧 -->
  <div class="col-xs-10">
    <div class="col-xs-12 text-center">
      <h2 class="main-tex2"><strong>R a n k i n g</strong></h2>
    </div>
    <div class="col-xs-12 text-center">
      <div class="ranking-box center-block">
        <% @rank.each_with_index do |style, i| %>
          <div class="box-efect boxes text-center">
            <%= i+1 %>
            <%= link_to style_path(style.id) do %>
              <%= attachment_image_tag style, :image, :fill, 150, 200, format: 'jpeg' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <h2 class="main-tex2"><strong>S t y l e s</strong></h2>
    </div>
    <div class="my-styles2">
      <div class="col-xs-12 text-center">
        <div class="styles-box center-block">
        <% @styles.each do |style| %>
            <div class="box-efect">
              <%= link_to style_path(style.id) do %>
                <%= attachment_image_tag style, :image, :fill, 200, 250, format: 'jpeg', class: "style-image" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
