<!-- スタイル一覧画面 -->
<div class="row">
  <div class="col-xs-2 index-status">
    <%= render 'layouts/sidebar', jenres: @jenres, tags: @tags, boards_new: @boards_new, styels_new: @styels_new %>
  </div>

  <!-- スタイル一覧 -->
  <div class="col-xs-10">
    <div class="col-xs-12 text-center">
      <h2 class="main-tex2"><strong>R a n k i n g</strong></h2>
    </div>
    <div class="col-xs-12 text-center">
      <div class="ranking-box center-block">
        <% @rank.each_with_index do |style, i| %>
          <div class="box-efect boxes text-center">
            <% if i == 0 %>
                <div class="crown-image1 center-block"><h3 class="crown-text"><%= i+1 %></h3></div>
              <% elsif i == 1 %>
                <div class="crown-image2 center-block"><h3 class="crown-text"><%= i+1 %></h3></div>
              <% elsif i == 2 %>
                <div class="crown-image3 center-block"><h3 class="crown-text"><%= i+1 %></h3></div>
              <% else %>
                <div class="crown-image center-block"><h3 class="crown-text"><%= i+1 %></h3></div>
            <% end %>
            <%= link_to style_path(style.id) do %>
              <%= attachment_image_tag style, :image, :fill, 150, 200, format: 'jpeg' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <h2 class="main-tex2"><strong>S t y l e s</strong></h2>
    </div>
    <div class="my-styles2">
      <div class="col-xs-12 text-center">
        <div class="styles-box center-block">
        <% @styles.each do |style| %>
            <div class="box-efect">
              <%= link_to style_path(style.id) do %>
                <%= attachment_image_tag style, :image, :fill, 200, 250, format: 'jpeg', class: "style-image" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-right">
      <%= paginate @styles %><br>
      <%= page_entries_info @styles %>
    </div>

    <div class="col-xs-12 text-center">
      <div class="center-block favorite-box">
      <h5 class="favorite-style"><strong>最近お気に入り登録したヘアスタイル</strong></h5>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <% if user_signed_in? %>
        <% if @user.size == 0 %>
          まだお気に入り登録されていません
        <% else %>
          <div class="ranking-box center-block">
            <% @user_favorites.each do |favorite| %>
              <div class="box-efect boxes text-center">
                <%= link_to style_path(favorite.id) do %>
                  <%= attachment_image_tag favorite, :image, :fill, 150, 200, format: 'jpeg' %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12 text-right bottom-field">
            <%= link_to '>> お気に入り一覧へ', user_path(current_user, anchor: "favorite-top"), class: "favorite-list-text" %>
          </div>
        <% end %>
      <% else %>
        登録されていません
      <% end %>
    </div>

  </div>

</div>
