<div class="row main-back">
  <div class="col-xs-12 text-center bottom-set">
    <h2>Admin Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field botton-b">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50", class: "text-pas" %>
      </div>

      <div class="field botton-b">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", size: "50", class: "text-pas" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-danger botton-d" %>
      </div>
    <% end %>
  </div>
</div>
