<div class="row">
  <div class="col-xs-12 text-center">
    <h1 class="title-text"><string>About</string></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 box text-center">
  	<img class="image-box3">
  	<img class="image-box4">
  </div>
</div>

<div class="row">
 <div class="col-xs-12 text-center">
    <h1 class="title-text"><string>Style</string></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 box text-center">
    <%= link_to styles_path(status: "MENS") do %>
  	  <img class="image-box">
    <% end %>
    <%= link_to styles_path(status: "LADIES") do %>
  	  <img class="image-box2">
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <h1 class="title-text"><string>User Page</string></h1>
    <% if user_signed_in? %>
      <%= link_to 'My Page', user_path(current_user), class: "botton-d btn btn-danger" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "botton-d btn btn-danger" %>
    <% elsif admin_signed_in? %>
      <%= link_to 'Admin_Log_out', destroy_admin_session_path, :method => :delete, class: "botton-d btn btn-danger" %>
    <% else %>
      <%= link_to 'Log_in', new_user_session_path, class: "botton-d btn btn-danger" %>
      <%= link_to 'Sing in', new_user_registration_path, class: "botton-d btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="row">
 <div class="col-xs-12 text-center">
    <h1 class="title-text"><string>Contact</string></h1>
    <%= form_for @contact do |f| %>
    <label class="col-sm-12 text-contact">お名前</label>
    <div class="col-xs-12">
      <%= f.text_field :name, class: "contact-body" %>
    </div>

    <label class="col-sm-12 text-contact">メールアドレス</label>
    <div class="col-xs-12">
      <%= f.text_field :email, class: "contact-body" %>
    </div>

    <label class="col-sm-12 text-contact">問い合わせ内容</label>
    <div class="col-xs-12">
      <%= f.text_area :body, class: "contact-body" %>
    </div>

    <div class="col-sm-12">
      <%= f.submit "送信する", class: "btn btn-danger image-tag-contact" %>
    </div>
  </div>
</div>
<% end %>
  </div>
</div>