<div class="row">
  <div class="col-xs-9 text-center">

  	<div class="col-xs-12">
      <h2 class="main-tex2"><strong>掲示板</strong></h2>
    </div>
    <div class="col-xs-12 my-styles-board">
      <table class="table">
        <tbody>
          <% @boards.each do |f| %>
            <tr>
              <td>
              	<%= link_to board_path(f.id) do %>
                  <%= attachment_image_tag f.user, :profile_image, :fill, 250, 300, fallback: "no_image.jpg", class: "profile-image-board" %><br>
                <% end %>
                <p class="comment-count">コメント件数: <%= f.board_comments.count %></p>
              </td>
              <td>
              	<%= link_to board_path(f.id) do %>
            	  <p class="board-title"><%= f.title %></p>
            	<% end %>
              </td>
              <td>
                <%= f.content %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>

  <div class="col-xs-3 text-center botton-b">
  	<%= form_for @board do |f| %>
      <div class="col-xs-12 text-center">
        <label class="col-sm-12 text-style">質問タイトル</label>
        <div class="col-sm-12"><%= f.text_field :title, class: "my-edit" %></div>

        <label class="col-sm-12 text-style">内容(200文字以内)</label>
        <div class="col-sm-12"><%= f.text_area :content, class: "my-edit" %></div>
      </div>
      <div class="col-sm-12 text-right">
        <%= f.submit "質問追加", class: "btn btn-danger image-tag" %>
      </div>
  </div>
<% end %>


</div>
