<div class="row main-back">
  <div class="col-xs-12 text-center bottom-set">
    <h3>パスワードお忘れの方はこちらから</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field botton-b">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-danger botton-b" %>
      </div>
    <% end %>

    <div class="top-b">
      <%= render "users/shared/links" %>
    </div>

  </div>
</div>
