<div class="row main-back">
  <div class="col-xs-12 text-center bottom-set">
    <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field botton-b">
    <label>お名前 (1文字以上20文字以内)</label><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "50", class: "text-pas" %>
  </div>

  <div class="field botton-b">
    <label>フリガナ (1文字以上20文字以内)</label><br />
    <%= f.text_field :kana_name, autofocus: true, autocomplete: "kana_name", size: "50", class: "text-pas" %>
  </div>

  <div class="field botton-b">
    <label>ニックネーム (1文字以上20文字以内)</label><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", size: "50", class: "text-pas" %>
  </div>

  <div class="field botton-b">
    <label>都道府県 (都道府県のみ：5文字以内 例：東京都)</label><br />
    <%= f.text_field :prefectures, autofocus: true, autocomplete: "prefectures", size: "50", class: "text-pas" %>
  </div>

  <div class="field botton-b">
    <label>メールアドレス (IDになります)</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50", class: "text-pas" %>
  </div>

  <div class="field botton-b">
    <label>情報(一般or美容師)</label><br />
    <div class="text-pas">
      <%= f.select :status, ['一般', '美容師'] %>
    </div>
  </div>

  <div class="field botton-b">
    <label>パスワード</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上入力して下さい)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", size: "50", class: "text-pas" %>
  </div>

  <div class="field botton-b">
    <label>パスワード確認</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "50", class: "text-pas" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-danger botton-d" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
